[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/bin:/usr/local/bin:/home/%u/.local/bin
ExecStart=/usr/bin/sh -c 'exec $(command -v kanata) --cfg %h/.config/kanata/kanata.kbd --no-wait'
Restart=always

[Install]
WantedBy=default.target
