@import "mocha.css";

* {
    font-family: "HackGen Console NF", sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
}

#workspaces button {
    padding: 0 5px;
    color: @overlay0;
    background: transparent;
}

#workspaces button.active {
    color: @lavender;
}

#clock,
#tray,
#pulseaudio,
#battery,
#network {
    padding: 0 10px;
}

#clock {
    color: @lavender;
}

#network {
    color: @sky;
}

#pulseaudio {
    color: @green;
}

#battery {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    color: @blue;
    padding: 0 10px;
    margin: 0 4px;
}

#custom-power {
    color: @red;
    font-size: 16px;
    padding: 0 12px;
    margin: 0 4px;
    background-color: alpha(@red, 0.1);
    border-radius: 8px;
}

@keyframes blink {
    to {
        background-color: alpha(@red, 0.5);
        color: @base;
    }
}

#custom-power:hover,
#bluetooth:hover,
#network:hover {
    background-color: alpha(@text, 0.1);
}
